{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'game.title'|trans }}</h2>

    <p class="attempts">
        {{ 'game.remaining_attemps'|transchoice(game.remainingAttempts) }}
    </p>

    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            <li class="letter {{ game.letterFound(letter) ? 'guessed' : 'hidden' }}">
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('app_game_reset') }}">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
        <li class="letter">
            <a href="{{ path('app_letter', {'letter': letter}) }}">
                {{ letter }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    <form action="{{ path('app_word') }}" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}