<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hangman Game</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>
                <a href="{{ path('app_game') }}">Hangman</a>
            </h1>
        </div>
        <div id="menu">
            {{ include('common/menu.html.twig') }}
        </div>
    </div>

    <div id="page">
        <div id="content">

            {% for message in app.session.flashBag.get('info') %}
                <div class="notice">{{ message }}</div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        <div id="sidebar">
            {{ render_esi(controller('AppBundle:Game:lastGames')) }}
            {{ render(controller('AppBundle:Game:lastPlayers')) }}
        </div>
        <br class="clearfix" />
    </div>
</div>

</body>
</html>
