<ul>
    <li class="first current_page_item">
        <a href="{{ path('app_game') }}">Game</a>
    </li>
    <li>
        <a href="{{ path('app_register') }}">Register</a>
    </li>
    <li>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </li>
    <li>
        <a href="{{ path('app_contact') }}">Contact</a>
    </li>
</ul>
<br class="clearfix" />
