{% extends 'base.html.twig' %}

{% block body %}
    <h2>Access your player account</h2>

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(form, {'action': path('app_login_check')}) }}
{% endblock %}