{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _register_username_widget %}
    {{ block('form_widget_simple') }} [^^]
{% endblock %}

{% block body %}
    <h2>Register</h2>

    {{ form(form) }}
{% endblock %}
